<!DOCTYPE html>
<html lang="en">

<head>

    {% block title %}<title>Map</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Load the static CSS from the map/css/styles.css file -->
    {% load static %}
    <!--<link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
    <link rel="stylesheet" href="../static/css/styles.css">

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap"></script>
    <script type="text/javascript" src="../static/js/map.js"></script>

</head>

<body> 

    <div class="topnav">
        <a href="#user">User</a>
        <a href="#refresh">Refresh</a>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                <!-- The block content is derived from the index.html file -->
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

</body>

</html>
