<!--Include whatever generic html in this file, basic refactoring-->
{% extends "generic.html" %} 

{% block content %}
    <!--<center><h1>Map Home</h1></center> -->
    <!--<center><p> Map goes here </p></center>-->
<div style="height: 1000px; width: 1000px; float: left">
    <div id="floating-panel" >
      <button id="drop" onclick="drop()">Load News</button>
    </div>
    <div id="map"></div>
</div>
<div style="height: 1000px; width: 500px; float: right">
   <p id="news_title"></p>
   <p id="news_location"></p>
</div>
{% endblock %}

